* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

//::-webkit-scrollbar {
//  width: 4px;
//  background-color: #828181;
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: #555454;
//}
//
//html, body {
//  scrollbar-width: thin;
//  scrollbar-color: #555454 #828181;
//}

body {
  min-width: $screen-xxs;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-body);
}

section, .Wrapper {
  min-width: 320px;
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

//.Modal {
//  position: relative;
//  height: 100%;
//  background: url(~@/assets/img/modal_bg.png);
//  background-size: cover;
//  background-repeat: no-repeat;
//  border-radius: 10px !important;
//
//
//  &-Content {
//    position: relative;
//    z-index: 1;
//    padding: 15px;
//  }
//
//  &-Close {
//    position: absolute;
//    top: 15px;
//    right: 15px;
//    width: 15px;
//    height: 15px;
//    cursor: pointer;
//    z-index: 1;
//
//    &:before, &:after {
//      content: '';
//      position: absolute;
//      left: 7.5px;
//      width: 3px;
//      height: 15px;
//      background-color: var(--color-text-main);
//    }
//
//    &:before {
//      transform: rotate(45deg);
//    }
//
//    &:after {
//      transform: rotate(-45deg);
//    }
//  }
//}

.Arrow {
  border: 6px solid transparent;
  border-top: 6px solid var(--color-text-main);
  cursor: pointer;

  &--up {
    transform: rotate(-180deg);
  }
}

.ThinArrow {
  border-style: solid;
  border-color: var(--color-text-main);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1.5px;
  cursor: pointer;

  &--up {
    transform: rotate(-135deg);
  }

  &--down {
    transform: rotate(45deg);
  }
}

.PrevNext {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid var(--color-border-ghost);
  border-left: 2px solid var(--color-border-ghost);
  outline: none;

  &:focus, &:active {
    border-color: var(--color-main1);
  }

  &-Prev {
    transform: translateY(-3px) rotate(45deg);
  }

  &-Next {
    transform: translateY(-4px) rotate(225deg);
  }
}

.Close {
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: var(--color-text-ghost);
  }

  &:before {
    left: 0;
    transform: rotate(45deg);
  }

  &:after {
    right: 0;
    transform: rotate(-45deg);
  }
}

.Badge {
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
}

.Toggle {
  width: 17px;
  height: 12px;
  stroke: var(--color-text-main);

  &--colored {
    stroke: var(--color-main1);
  }
}

.Euro {
  font-size: 18px;

  @media(min-width: $screen-xl) {
    font-size: 30px;
  }
}

.Tabs {
  display: flex;
  width: 100%;
  height: 55px;

  @media (min-width: $screen-m) {
    width: auto;
  }

  &-Tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 4px;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: var(--color-text-main);
    background: var(--color-bg);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.router-link-active, &--active {
      color: var(--color-main1);

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 50px;
        height: 4px;
        background: var(--color-main1);
        transform: translateX(-50%);
      }
    }
  }
}

.v_slider__list {
  margin-bottom: 0;
}

.vm--modal {
  overflow: auto !important;
}

.vm--overlay {
  background: rgba(9, 5, 2, 0.8) !important;
}
