.Wibro {
  animation: 0.1s wibro ease-out 2;
}

@keyframes wibro {
  0%,
  25% {
    left: -1px;
    transform: translateX(-2px);
  }

  50%,
  100% {
    left: 1px;
    transform: translateX(2px);
  }
}
