button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
}

.Btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  color: var(--color-text-main);
  text-decoration: none;
  border: none;
  border-radius: 60px;
  cursor: pointer;

  &--common {
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-main);
    text-transform: uppercase;
    background: var(--color-main1);

    @media(min-width: $screen-m) {
      font-size: 14px;

      &:hover {
        background: var(--color-hover2);
      }
    }

    @media(min-width: $screen-l) {
      padding: 15px 30px;
    }

    @media(min-width: $screen-xl) {
      padding: 20px 45px;
      font-size: 16px;
    }
  }

  &--text {
    background: none;
  }

  &--color1 {
    background: var(--color-main1);

    &:hover {
      background: var(--color-hover2);
    }
  }

  &--color {
    background: var(--color-main2);

    &:hover {
      background: var(--color-hover2);
    }
  }

  &--dark {
    background: var(--color-bg-lighter);

    &:hover {
      background: var(--color-main1);
    }
  }

  &--darkColor {
    background: rgba(228, 88, 9, 0.4);
  }

  &--outline {
    background: transparent;
    border: 2px solid var(--color-main1);

    &:hover {
      background: var(--color-main1);
    }
  }

  &--square {
    border-radius: 0;
  }

  &--leftCorner {
    border-radius: 0 0 0 20px;
  }

  &--rightCorner {
    border-radius: 0 0 20px 0;
  }

  &--bottomCorners {
    border-radius: 0 0 20px 20px;
  }

  &--outline2 {
    background: transparent;
    border: 2px solid var(--color-main2);
  }

  &--centered {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &--full {
    width: 100%;
  }
}
