button {
  padding: 0;
  background: none;
  border: none;

  &:not(:focus) {
    outline: none;
  }
}

.Btn {
  display: inline-block;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-text-main);
  background: var(--color-main1);
  border: none;
  cursor: pointer;

  @media(min-width: $screen-m) {
    font-size: 14px;
  }

  @media(min-width: $screen-l) {
    padding: 22px 30px;
  }

  @media(min-width: $screen-xl) {
    padding: 25px 45px;
  }

  &--text {
    background: none;
  }

  &--color {
    background: var(--color-main2);

    &:hover {
      background: var(--color-hover);
    }
  }

  &--dark {
    background: var(--color-bg-lighter);

    &:hover {
      background: var(--color-main1);
    }
  }

  &--outline {
    background: transparent;
    border: 2px solid var(--color-main2);
  }

  &--centered {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &--full {
    width: 100%;
  }
}
