@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid var(--color-main1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active {
  transition: all 9999s ease-in-out 0s;
  transition-property: background-color, color;
}

//::-webkit-scrollbar {
//  width: 4px;
//  background-color: #828181;
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: #555454;
//}
//
//html, body {
//  scrollbar-width: thin;
//  scrollbar-color: #555454 #828181;
//}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  width: 100vw;
  min-width: $screen-xxs;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Montserrat', 'Verdana', sans-serif;
  background-color: var(--color-body);
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

section, .Wrapper {
  min-width: 320px;
  max-width: 1248px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

//.Modal {
//  position: relative;
//  height: 100%;
//  background: url(~@/assets/img/modal_bg.png);
//  background-size: cover;
//  background-repeat: no-repeat;
//  border-radius: 10px !important;
//
//
//  &-Content {
//    position: relative;
//    z-index: 1;
//    padding: 15px;
//  }
//
//  &-Close {
//    position: absolute;
//    top: 15px;
//    right: 15px;
//    width: 15px;
//    height: 15px;
//    cursor: pointer;
//    z-index: 1;
//
//    &:before, &:after {
//      content: '';
//      position: absolute;
//      left: 7.5px;
//      width: 3px;
//      height: 15px;
//      background-color: var(--color-text-homepage);
//    }
//
//    &:before {
//      transform: rotate(45deg);
//    }
//
//    &:after {
//      transform: rotate(-45deg);
//    }
//  }
//}

.Arrow {
  border: 6px solid transparent;
  border-top: 6px solid var(--color-text-main);
  cursor: pointer;

  &--up {
    transform: rotate(-180deg);
  }
}

.ThinArrow {
  display: inline-block;
  padding: 1.5px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--color-text-main);
  cursor: pointer;

  &--up {
    transform: rotate(-135deg);
  }

  &--down {
    transform: rotate(45deg);
  }
}

.PrevNext {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid var(--color-border-ghost);
  border-left: 2px solid var(--color-border-ghost);
  outline: none;

  &:focus, &:active {
    border-color: var(--color-main1);
  }

  &-Prev {
    transform: translateY(-3px) rotate(45deg);
  }

  &-Next {
    transform: translateY(-3px) rotate(225deg);
  }
}

.Close {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #6A6E7F;
  }

  &:before {
    left: 0;
    transform: rotate(45deg);
  }

  &:after {
    right: 0;
    transform: rotate(-45deg);
  }
}

.Modal {
  position: relative;

  &-Close {
    margin-bottom: 5px;
    margin-left: auto;

    &--thick {
      &:before, &:after {
        height: 3px;
        background: var(--color-text-main);
      }
    }
  }
}

.Badge {
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
}

.Toggle {
  width: 17px;
  height: 12px;
  stroke: var(--color-text-main);

  &--colored {
    stroke: var(--color-main1);
  }
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(6, 8, 30, 0.9);
}

.Euro {
  font-size: 18px;

  @media(min-width: $screen-xl) {
    font-size: 30px;
  }
}

.Tabs {
  display: flex;
  width: 100%;
  height: 55px;

  @media (min-width: $screen-m) {
    width: auto;
  }

  &-Tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: var(--color-text-main);
    background: var(--color-bg);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.nuxt-link-exact-active, &--active {
      color: var(--color-main1);

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50px;
        height: 4px;
        background: var(--color-main1);
        transform: translateX(-50%);
      }
    }
  }
}

.ProvidersSection {
  position: relative;

  &-Search {
    position: relative;
    width: 100%;

    @media(min-width: $screen-m) {
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc(100% / 7 - 10px);
      height: 100%;
    }
  }
}

.Error {
  color: var(--color-error);
}

.Advantages {
  width: 100%;

  @media (min-width: $screen-m) {
    display: flex;
    justify-content: space-between;
  }

  &-Advantage {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 24px 26px;
    background: var(--color-bg);

    @media (min-width: $screen-m) {
      flex-grow: 1;
      flex-basis: 25%;
      margin-right: 12px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-l) {
      margin-right: 13px;
    }

    @media (min-width: $screen-xl) {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-AdvantageText {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text-main);
    text-transform: capitalize;

    @media (min-width: $screen-l) {
      margin-right: 16px;
    }
  }

  &-AdvantageBlock {
    margin-left: 10px;

    @media (min-width: $screen-l) {
      margin-left: 14px;
    }

    @media (min-width: $screen-xl) {
      margin-left: 18px;
    }
  }

  &-AdvantageTitle {
    font-size: 12px;
    color: var(--color-text-main);
    text-transform: uppercase;

    @media (min-width: $screen-m) {
      font-size: 14px;
    }

    @media (min-width: $screen-l) {
      font-size: 20px;
    }
  }

  &-AdvantageInfo {
    font-size: 9px;
    color: var(--color-text-faded);
    text-transform: uppercase;

    @media (min-width: $screen-l) {
      font-size: 12px;
    }
  }
}

.Advantages--min {
  .Advantages-Advantage {
    padding: 24px 14px;

    @media (min-width: $screen-l) {
      padding: 24px 21px;
    }

    @media (min-width: $screen-xl) {
      padding: 33px 54px;
    }
  }
}

.v_slider__list {
  margin-bottom: 0;
}

.vm--modal {
  height: auto !important;
  overflow: initial !important;
  background: transparent !important;
  box-shadow: none !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-overflow-scrolling: touch !important;
}

.vm--overlay {
  background: rgba(9, 5, 2, .8) !important;
}

.vm--container.scrollable .vm--modal {
  margin-bottom: 150px !important;
}
