.SupportPage {
  padding: 20px 16px 30px;

  @media(min-width: $screen-s) {
    padding: 25px 16px 35px;
  }

  @media(min-width: $screen-m) {
    padding: 30px 16px 40px;
  }

  @media(min-width: $screen-l) {
    padding: 30px 120px 60px;
  }

}

.SupportPage-Title {
  margin-bottom: 30px;

  @media(min-width: $screen-m) {
    margin-bottom: 45px;
  }
}

.SupportPage-List {
  margin-bottom: 41px;
  color: var(--color-text-main);
  counter-reset: list1;
}

.SupportPage-Item {
  position: relative;
  margin-bottom: 30px;
  font-size: 14px;

  &:before {
    content: counter(list1) '.';
    position: absolute;
    top: -1px;
    left: 0;
    font-weight: 700;
    counter-increment: list1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    padding-left: 1.2em;
  }
}

.SupportPage-InnerList {
  padding-left: 16px;
  list-style-type: lower-alpha;
}

.SupportPage-InnerItem {
  padding-left: 7px;

  &::marker {
    font-weight: 700;
  }
}

.SupportPage-Updated {
  color: var(--color-text-main);
}

.SupportPage-Link {
  color: var(--color-main1);

  &:hover {
    color: var( --color-text-main);
  }
}
