.TableBordered {
  &-Cell {
    padding: 7px;
    font-weight: 700;
    vertical-align: middle;
    color: var(--color-text-ghost);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-border);

    @media(min-width: $screen-m) {
      padding: 10px;
    }

    &:last-child {
      padding-right: 0;
      text-align: right;
    }
  }

  &-Th {
    color: var(--color-text-main);
  }
}

.Table {
  display: table;
  width: 100%;

  &-Row {
    display: table-row;
  }

  &-Cell {
    display: table-cell;

    &--enlighted {
      color: var(--color-main1);
    }

    &--rightAlign {
      text-align: right;
    }
  }
}
