p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.66;
  color: var(--color-text-faded);
}

.Title {
  font-weight: 700;
  line-height: 1.18;
  color: var(--color-text-main);
  text-transform: uppercase;

  &--type-h1 {
    font-size: 24px;

    @media (min-width: $screen-xs) {
      font-size: 18px;
    }

    @media (min-width: $screen-s) {
      font-size: 20px;
    }

    @media (min-width: $screen-m) {
      font-size: 28px;
    }

    @media (min-width: $screen-l) {
      font-size: 30px;
    }

    @media (min-width: $screen-xl) {
      font-size: 33px;
    }
  }

  &--type-h2 {
    font-size: 14px;
    line-height: 1.18;

    @media (min-width: $screen-m) {
      font-size: 16px;
    }

    @media (min-width: $screen-l) {
      font-size: 20px;
    }

    @media (min-width: $screen-xl) {
      font-size: 28px;
    }
  }

  &--type-h3 {
    font-size: 16px;
  }

  &--type-h4 {
    font-size: 24px;
  }

  &--color1 {
    color: var(--color-main1);
  }

  &--color2 {
    color: var(--color-main2);
  }

  &--center {
    text-align: center;
  }
}

.Colored {
  color: var(--color-main1);
}

.Text {
  &--main {
    font-weight: 700;
    color: var(--color-text-main);
  }

  &--additional {
    font-size: 14px;
    line-height: 1.66;
    color: var(--color-text-faded);
  }

  &--center {
    text-align: center;
  }
}
