@mixin touch-btn-1 {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.07s;
}

@mixin touch-btn-2 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.03s;
}

@mixin touch-btn-3 {
  background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.03s;
}

@mixin touch-btn-4 {
  background-image: linear-gradient(top, var(--color-bg-darker), rgba(255, 255, 255, 0));
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.03s;
}

@mixin touch-btn-5 {
  background-image: url(~@/assets/img/tap-effect.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 64px 48px;
}
