@mixin touch-btn-1 {
  border-radius: 3px;
  transition: background-color 0.07s;
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@mixin touch-btn-2 {
  border-radius: 0;
  transition: background-color 0.03s;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@mixin touch-btn-3 {
  border-radius: 0;
  transition: background-color 0.03s;
  background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

